.field {
  display: flex;
  flex-direction: column;
  margin-block: 15px;
  background: var(--field-color);
}

.field::before,
.field::after {
  content: ' ';
  display: block;
  height: 2px;
  background: var(--text-color4);
}

.field + .field {
  margin-top: -17px;
}

.field + .field::before {
  height: 1px;
  margin-top: -1px;
  margin-left: 1rem;
}

.field:focus-within + .field::before {
  opacity: 0;
}

.field input {
  border: none;
  padding: 1rem;
  background: var(--field-color);
}
