:root {
  --main-color: #3778c2;
  --second-color: #5fb523;
  --text-color: #434b54;
  --text-color2: #757b82;
  --text-color3: #9b9fa4;
  --text-color4: #cdcfd1;
  --error-color: #f00;
  --alt-text-color: #fff;
  --field-color: #fff;
  --field-error-color: #ffeaea;
  --bg-color: #f1f3f2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

h3 {
  font-size: 1rem;
  margin-block: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

time {
  font-size: 0.9rem;
  color: var(--text-color3);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.notice {
  background: var(--field-color);
  padding: 1rem;
  color: var(--second-color);
}

.errors {
  background: var(--field-color);
  color: var(--error-color);
  padding: 1rem;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100vh;
  top: 0;
  left: -75vw;
  padding: 2rem 0 0 1rem;
  background: var(--main-color);
  align-items: center;
  transition: 0.5s;
}

.menu-proxy:focus-within .menu {
  left: 0;
}

.menu .group-card-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

.menu .group-card-icon > span {
  font-size: 6rem;
}

.menu > ul {
  align-self: stretch;
  list-style: none;
}

.menu > ul > li {
  border-bottom: solid 1px var(--alt-text-color);
  position: relative;
}

.menu > ul > li::before {
  content: 'logout';
  position: absolute;
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 2rem;
  margin-left: -2rem;
}

.menu > ul button {
  width: 100%;
  text-align: inherit;
  padding: 1rem;
  border: none;
  background: none;
  color: inherit;
}

.container > main {
  overflow-y: auto;
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: inherit;
  color: inherit;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align: center;
}

.btn:hover {
  filter: contrast(0.5) brightness(1.2);
}

.btn.btn-blue {
  background: var(--main-color);
  color: var(--alt-text-color);
}

.btn.btn-border {
  border: solid 2px var(--alt-text-color);
  border-radius: 5px;
}

header.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--main-color);
  color: var(--alt-text-color);
  height: 3rem;
  flex: 0 0 3rem;
}

header.navbar > * {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  margin: 0;
  padding: 0 1rem;
}

header.navbar > h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0;
}

.card {
  padding: 10px;
  background: var(--field-color);
}

.card.green {
  background: var(--second-color);
  color: var(--alt-text-color);
}
